
#uiNav /* holds fixed UI nav at bottom */ {
	position: fixed;
	bottom: 2em;
	z-index: 3;
	width: 100%;
}

#uiBody { /*holds dynamic UI data/content */
	position: absolute;
	z-index: 2;
	width: 100%;
	bottom: 4em;
}

#uiBodyTitle {
	background-color: white;
	text-align: center;
}

.columns, .column {
	background-color: white;
	text-align: center;
}